<div class="content">
<!-- FEATURES
================================================== -->
<div class="container" style="margin-top: 42px">
<div class="row">
    <div class="span3">
        <div class="features drop-shadow">
            <div class="features-circle">
                <img src="/static/ventus/img/icon_gear.png" alt="">
            </div>
            <h4>
                PERFECT FOR <strong>PLUMBERS</strong>
            </h4>

            <p>
                Managing work in the field is never easy, especially when it comes to both residential and commercial
                jobs, your plumbers have to be properly equipped with the right tools to handle the installations and
                repairs they encounter each day...
            </p><br>

            <div class="features-read-more">
                <a class="btn btn-small btn-prime">READ MORE</a>
            </div>
            <div class="features-triangle"></div>
        </div>
    </div>
    <div class="span3">
        <div class="features drop-shadow features-active">
            <div class="features-circle">
                <img src="/static/ventus/img/icon_mobile.png" alt="">
            </div>
            <h4>
                <strong>MOBILE</strong> BASED
            </h4>

            <p>
                Mobile devices are a dream come true for plumbing business owners. Teams are constantly on the go,
                traveling from one service call to another, a mobile solution is the ideal option...
            </p><br>

            <div class="features-read-more">
                <a class="btn btn-small btn-prime">READ MORE</a>
            </div>
            <div class="features-triangle"></div>
        </div>
    </div>
    <div class="span3">
        <div class="features drop-shadow">
            <div class="features-circle">
                <img src="/static/ventus/img/icon_laptop.png" alt="">
            </div>
            <h4>
                <strong>CONTROL</strong> YOUR TEAM
            </h4>

            <p>
                Use a map to plot the location of each service call, and employ GPS technology to get your employees
                there in the most efficient way possible. This small step saves you time every day, increasing the
                overall efficiency of your operations...
            </p><br>

            <div class="features-read-more">
                <a class="btn btn-small btn-prime">READ MORE</a>
            </div>
            <div class="features-triangle"></div>
        </div>
    </div>
    <div class="span3">
        <div class="features drop-shadow">
            <div class="features-circle">
                <img src="/static/ventus/img/icon_flexible.png" alt="">
            </div>
            <h4>
                <strong>SIMPLE</strong> TO USE
            </h4>

            <p>
                Typing can take a lot of time so nobody likes it. That's why we made Foxbuddy simple so videos, audio
                recordings and photos to report, avoiding errors and misunderstandings...
            </p><br>

            <div class="features-read-more">
                <a class="btn btn-small btn-prime">READ MORE</a>
            </div>
            <div class="features-triangle"></div>
        </div>
    </div>
</div>
<!-- OUR SERVICES
			================================================== -->
<div class="row">
    <div class="span12 textcenter">
        <span class="content-heading">PRODUCT FEATURES</span>

        <div class="content-heading-stripes"></div>
    </div>
    <div class="span3">
        <ul class="nav nav-list" id="myTab">
            <li class="first active">
                <a href="#MANAGEMENT">JOB MANAGEMENT</a>
            </li>
            <li>
                <a href="#SCHEDULING">JOB SCHEDULING</a>
            </li>
            <li>
                <a href="#REPORTS">MULTIMEDIA REPORTS</a>
            </li>
            <li>
                <a href="#MAPPING">GPS MAPPING</a>
            </li>
            <li>
                <a href="#ACCOUNTS">ACCOUNTS INTEGRATION</a>
            </li>
            <li>
                <a href="#STORAGE">CLOUD STORAGE</a>
            </li>
            <li class="last">
                <a href="#TRAINING">TRAINING &amp; SUPPORT</a>
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="tab-content">
            <div class="tab-pane active" id="MANAGEMENT">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Increase Efficiency</strong>
                        </h4>

                        <p>
                            Field staff can access their jobs via the app. All the job and client information is there
                            for them to see, removing the need to pick up job sheets from the office. Track total time
                            spent on each job or project. This allows you to see total hours accumulated on any job and
                            ensure the job is keeping to schedule and budget.
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Massive time saving<br> <br>
                                    Massive fuel saving</i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="SCHEDULING">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Make it simple</strong>
                        </h4>

                        <p>
                            Assigning a job to a field worker is just a click away. With Foxbuddy's Drag and Drop Job
                            Scheduling easily swap jobs between staff or squeeze in an urgent job by dragging the job
                            information onto the calendar. Staff are alerted to any changes instantly with Push, SMS or
                            Email Notifications. This saves you time usually wasted on numerous phone calls to confirm
                            availability or pass on new job details.
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Less paperwork<br> <br>
                                    Easier administration
                                </i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="REPORTS">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Make life easier</strong>
                        </h4>

                        <p>
                            Forget about lengthy reporting and paperwork to fill out for each job. Foxbuddy allows you
                            to record video, images, and audio, and upload them directly to the job, simply by using
                            your mobile. That information is added to the job report and is instantly accessible to
                            admin staff. Photos and video are much more powerful than written reports; using multimedia
                            you can provide detailed reports to staff and clients without typing a word!
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Less Paper<br><br>
                                    Less Hassles</i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="MAPPING">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Keep everything under control</strong>
                        </h4>

                        <p>
                            Foxbuddy's Mapping functions give you Real Time information about your field staff
                            locations. This allows you to assign urgent jobs based on staff locations and keep clients
                            up to date with accurate ETA information. These functions can be used to reduce time wastage
                            and maximise time on the job, as well as enabling job tracking for overtime.
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Increase staff efficiency <br><br>
                                    Free up time for more jobs
                                </i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ACCOUNTS">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Increase profits</strong>
                        </h4>

                        <p>
                            Foxbuddy easily integrates with major accounting software packages, including MYOB, Xero,
                            Saasu, and Quickbooks, so you don't have to change how you invoice. All materials used
                            onsite are accounted for and are added to invoices. This means you can be sure that your
                            invoices include the correct items and hours, and are ready to send on time. Improved
                            accounts management means you get paid faster! Your accountant will love it!
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Improve cashflow<br><br>
                                    Save time</i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="STORAGE">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Keep data safe</strong>
                        </h4>

                        <p>
                            Foxbuddy is a web based app so you can log in anywhere, anytime. All data, information and
                            media is stored on Foxbuddy's Cloud servers. Using a Cloud service removes the need to buy
                            and maintain your own servers, greatly reducing your overheads and operating costs. Having a
                            web based app means you don't have any software to install and gives you 24hr access to your
                            data. Foxbuddy is password protected so only authorised staff can access the system.
                        </p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                        <div class="content-bubble drop-shadow curved">
                            <h4>
                                <i>Reduce overheads <br><br>
                                    Run your business on the go</i>
                            </h4>
                        </div>
                        <div class="content-bubble-triangle"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TRAINING">
                <div class="row">
                    <div class="span5 mobile-box">
                        <h4>
                            <strong>Get support</strong>
                        </h4>

                        <p>
                            We provide full training and support to all our clients
                            When you sign up to Foxbuddy you receive:<br>
                            Screen to Screen Training<br>
                            Onsite Meetings/Training (Sydney only)<br>
                            Phone Support<br>
                            Help Videos<br>
                            Training Manuals</p><br>
                        <a class="btn btn-prime">PLAY VIDEO</a>
                    </div>
                    <div class="span4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RECENT NEWS
			================================================== -->
<div class="row">
    <div class="span12 textcenter">
        <span class="content-heading">RECENT NEWS</span>

        <div class="content-heading-stripes"></div>
    </div>
    <div class="span4">
        <div class="content-image">
            <a href="/media/filer_public_thumbnails/filer_public/2013/03/07/subpage_ipad1.png__306x75_q85_crop_upscale.png"
               class="fancybox"><img
                    src="/media/filer_public_thumbnails/filer_public/2013/03/08/image_workflow.jpg__280x178_q85_crop_upscale.jpg"
                    title="Image - image_workflow.jpg" alt=""></a>
        </div>
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">
                MOBILE DEVICES
            </h5>

            <p>
                Mobile devices are a must-have for any service-based business. These devices save you time, improve
                efficiency, promote strong customer service, enhance employee accountability, and help your business
                grow, all invaluable benefits in our fast-paced online world.
            </p>
        </div>
        <div class="content-bubble-triangle"></div>
    </div>
    <div class="span4">
        <div class="content-image">
            <a href="/static/ventus/images/image2.png" class="fancybox"><img
                    src="/media/filer_public_thumbnails/filer_public/2013/03/08/image_tradesmen.jpg__280x178_q85_crop_upscale.jpg"
                    alt=""></a>
        </div>
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">
                THE RIGHT TOOLS
            </h5>

            <p>
                Plumbers have it so easy - they just drive around and fix the pipes and toilets of their clients, right?
                If you manage a plumbing company, you already know that it's not that easy. it's a very time consuming
                job because there are quotes to manage, plumbers to dispatch, customers to please and accounting
                paperwork that never seems to stop
            </p>
        </div>
        <div class="content-bubble-triangle"></div>
    </div>
    <div class="span4">
        <div class="content-image">
            <a href="/static/ventus/images/image2.png" class="fancybox"><img
                    src="/media/filer_public_thumbnails/filer_public/2013/03/08/image_sample3.jpg__280x178_q85_crop_upscale.jpg"
                    alt=""></a>
        </div>
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">
                BLOG TITLE
            </h5>

            <p>
                Lorem ipsum dolor sit amet, contur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            </p>
        </div>
        <div class="content-bubble-triangle"></div>
    </div>
</div>
<!-- TESTIMONIALS
			================================================== -->
<div class="row">
    <!-- PAGE HEADING -->
    <div class="span8 textcenter">
        <span class="content-heading">TESTIMONIALS</span>

        <div class="content-heading-stripes"></div>
    </div>
    <div class="span12">
        <div class="row">
            <!-- TESTIMONIAL #1 -->
            <div class="span4">
                <div class="content-bubble drop-shadow curved">
                    <h5 class="heading">
                        John Smith
                    </h5>

                    <p>
                        <i>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna sed do eiusmod tempor”</i>
                    </p>
                </div>
                <div class="content-bubble-triangle"></div>
            </div>
            <!-- TESTIMONIAL #2 -->
            <div class="span4">
                <div class="content-bubble drop-shadow curved">
                    <h5 class="heading">
                        John Smith
                    </h5>

                    <p>
                        <i>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna sed do eiusmod tempor”</i>
                    </p>
                </div>
                <div class="content-bubble-triangle"></div>
            </div>
            <!-- TESTIMONIAL #3 -->
            <div class="span4">
                <div class="content-bubble drop-shadow curved">
                    <h5 class="heading">
                        John Smith
                    </h5>

                    <p>
                        <i>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna sed do eiusmod tempor”</i>
                    </p>
                </div>
                <div class="content-bubble-triangle"></div>
            </div>
            <!-- TESTIMONIAL #4 -->
            <div class="span4">
                <div class="content-bubble drop-shadow curved">
                    <h5 class="heading">
                        John Smith
                    </h5>

                    <p>
                        <i>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna sed do eiusmod tempor”</i>
                    </p>
                </div>
                <div class="content-bubble-triangle"></div>
            </div>
        </div>
    </div>
    <!-- TABS
                    ================================================== -->

</div>
</div>
</div>