<div class="row-fluid">
    <div class="span6">
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">INCREASE EFFICIENCY</h5>
            When you need to deploy your technicians to different sites use your mobile device to divide the labor. Use
            the map to plot location of each service call, and employ GPS technology to get your employees there in the
            most efficient way possible and keep clients up to date with accurate ETA information. This small step saves
            you time and fuel every day, increasing the overall efficiency of your operations allowing more jobs to be
            performed.
        </div>
    </div>
    <div class="span6">
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">HOLD YOUR EMPLOYEES ACCOUNTABLE</h5>
            When operating a small business, it's important to be an effective manager of field technicians and staff.
            One of the difficulties of making field calls is ensuring that your employees honestly report their time.
            Having each dispatched employee using a smartphone with GPS technology enables Foxbuddy to track their
            whereabouts. This allows an accurate measurement of total time spent on each job or project. Not only does
            this hold your employees accountable for their work, but it ensures that your customers are billed
            accurately for the labor accumulated.
        </div>
    </div>
</div>


<div class="content-bubble drop-shadow curved">
    <div class="row-fluid">
        <div class="span8">
            <h2>MADE FOR PLUMBERS</h2>

            <p>Foxbuddy&nbsp;was hatched nearly 10 years ago, developed by busy plumber Dave Shumak and used by his team
                to handle a variety of strata, commercial and construction work across Sydney and surrounding areas.</p>

            <p>Foxbuddy&nbsp;had a lot more potential to grow so it was redeveloped by Propertymode, a web and software
                company established over 15 years ago.</p>

            <p>With over 25 years combined experience Foxbuddy was reborn in 2011 as a commercial venture with full
                enterprise server environment, new iPhone and iPad apps, customer service desk and full training
                staff.</p>

            <p>From our headquarters in Sydney, Australia Foxbuddy is providing flexible mobile solutions to trade and
                service based businesses all over Australia. It is clearly the most advanced yet easy to use workflow
                system available today and the only system with a mediacentric focus. Backed by our training and service
                we ensure you have the support needed to get the best value from Foxbuddy from day one.</p>

            <p>Our mission is to save you time and money by provided you with solutions for improved job management.</p>

            <p>Contact us today on 1300 000 369 and find out how Foxbuddy can make a real difference to your
                business.</p>
        </div>

        <div class="span4"><img alt="Image - davecutout.jpg" id="plugin_obj_13"
                                src="/media/filer_public_thumbnails/filer_public/2013/03/07/davecutout.jpg__285x427_q85_crop_upscale.jpg"
                                title="Image - davecutout.jpg"/></div>
    </div>
</div>

<div class="content-bubble-triangle"></div>


<div class="row-fluid">
    <div class="span6">
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">SAVE TIME</h5>
            Using a mobile online calendar and booking system saves you time. Instead of consulting a master
            calendar or
            having to call customers back to schedule new appointments, you can drag and drop your work
            schedule
            on
            the
            go and include relevant information about your appointments. Instantaneously all other jobs are
            rescheduled
            and all staff and clients are notified with Push, SMS or Email Notifications.<br/>
            Mobile devices also reduce the amount of time you spend on paperwork. In the past, all
            transactions
            had
            to
            be recorded on paper; you may have printed invoices in your home office and faxed or mailed them
            to
            customers. With a smartphone or tablet you have all this information already available with you.
            When
            your
            staff is required to report a job they can simply record videos, images, and audio, these
            actions
            that
            are
            faster to be executed especially on field. Photos and videos are more powerful and can include
            informations
            that often are left by in a written report. After completing a house call or establishing a
            contract,
            all
            informations are instantly accessible to admin staff. This avoids the hassle to report and the
            risk
            of
            forgetting or loosing informations.

        </div>
        <div class="content-bubble-triangle"></div>

    </div>

    <div class="span6">

        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">IMPROVE CUSTOMER SERVICE</h5>
            When working in the plumbing industry, customer satisfaction is crucial. Mobile devices allows
            you
            to
            engage with your customers on the go, making them feel connected and cared for by your business.
            To
            be
            successful, it’s important to be on top of your game, ready to repair leaky faucets and pipes or
            replace
            a water heater as soon as possible, respond to emergencies is one important service that your
            customer
            requires. If an appointment is taking longer than usual or an emergency occurs, using Foxbuddy
            on a
            smartphone allows you to notify your next customer with an updated appointment time or to
            dispatch
            another team for that job. This simple courtesy makes customers feel appreciated by your
            company.
        </div>
        <div class="content-bubble-triangle"></div>

    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">INCREASE EFFICIENCY</h5>
            When you need to deploy your technicians to different sites use your mobile device to divide the labor. Use
            the map to plot location of each service call, and employ GPS technology to get your employees there in the
            most efficient way possible and keep clients up to date with accurate ETA information. This small step saves
            you time and fuel every day, increasing the overall efficiency of your operations allowing more jobs to be
            performed.
        </div>
        <div class="content-bubble-triangle"></div>
    </div>
    <div class="span6">
        <div class="content-bubble drop-shadow curved">
            <h5 class="heading">HOLD YOUR EMPLOYEES ACCOUNTABLE</h5>
            When operating a small business, it's important to be an effective manager of field technicians and staff.
            One of the difficulties of making field calls is ensuring that your employees honestly report their time.
            Having each dispatched employee using a smartphone with GPS technology enables Foxbuddy to track their
            whereabouts. This allows an accurate measurement of total time spent on each job or project. Not only does
            this hold your employees accountable for their work, but it ensures that your customers are billed
            accurately for the labor accumulated.
        </div>
        <div class="content-bubble-triangle"></div>
    </div>
</div>

<!-- PACKAGE PRICE -->
<div class="pricing-container">
    <ul>
        <li class="price-currency">$</li>
        <li class="price">29</li>
        <li class="price-point">99</li>
        <li class="price-recur">month</li>
    </ul>
</div>

<!-- PACKAGE TITLE -->
<div style="position: relative">
    <div class="title-bubble" style="width: 85%">
        <h5 class="textcenter">STARTER PACKAGE</h5>

        <div class="title-bubble-triangle"></div>
    </div>
</div>

<!-- PACKAGE FEATURES -->
<div class="content-bubble pricing drop-shadow curved">

    <div class="pricing-features">
        <ul>
            <li>10 GB Storage</li>
            <li>50 GB Bandwith</li>
            <li>3 Domains</li>
            <li>10 Email</li>
        </ul>
        <a class="btn btn-full">SIGN UP</a>
    </div>
</div>

<div class="slider-area loading">
    <ul class="slides">
        <li>
            <div class="row">
                <div class="span12 bold-slider textcenter">

                    <div style="margin-top: 11px;">
                        <h3 class="slider-heading">
                            <span class="slider-highlight">IMPROVE YOUR PLUMBING BUSINESS</span>
                        </h3><img
                            src="/media/filer_public_thumbnails/filer_public/2013/03/07/subpage_ipad1.png__144x150_q85_crop_upscale.png"
                            style="height: 150px ; margin-bottom: 11px;"/>

                        <h3 class="slider-heading">
                            with <span class="slider-highlight">FOXBUDDY</span>, the office to mobile workflow solution
                        </h3>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 textcenter">
                    <h3 class="slider-heading">
                        <span class="slider-highlight">LEVERAGE YOUR PLUMBER SERVICE</span>
                    </h3>

                    <div>
                        <img src="/static/ventus/images/ipads.png" style="height: 150px;"/>
                    </div>
                    <h3 class="slider-heading">
                        with all the mobile devices power and innovation
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 textcenter">
                    <h3 class="slider-heading">
                        <span class="slider-highlight">THE RIGHT TOOL FOR THE RIGHT JOB</span>
                    </h3>

                    <div>
                        <img src="/media/filer_public_thumbnails/filer_public/2013/03/09/news039.jpg__289x225_q85_crop_upscale.png" style="height: 150px;"/>
                    </div>
                    <h3 class="slider-heading">
                        Running an on field business requires mobile devices flexibility
                    </h3>
                </div>
            </div>
        </li>

    </ul>
</div>