<li>
    <div class="row">
        <div class="span12">
            <div class="vcenter" style="margin-top: 6px;">
                <h2 class="slider-heading">{{ slider_heading|safe }}</h2>
                {% if slider_content %}
                    <p>{{ slider_content|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</li>
<li>
    <div class="row">
        <div class="span12 bold-slider textcenter">
            <!-- slide #1 content -->
            <div style="margin-top: 11px;">
                <h3 class="slider-heading">
                    <span class="slider-highlight">STREAMLINE YOUR PLUMBING BUSINESS</span>
                </h3><img style=" height: 150px ;margin-bottom: 11px;" src="assets/images/ipads.png" alt="">
                <h3 class="slider-heading">
                    with <span class="slider-highlight">FOXBUDDY</span>, the office to mobile workflow solution
                </h3>

            </div>
        </div>
    </div>
</li>